.btn {
  font-weight: 700;
  align-items: center;
  display: flex;
  gap: 8px;
  max-width: max-content;
  font-size: 24px;
  font-family: $spaceGrotesk;
  line-height: 1.1;
  background-color: #1E1E1E;
  color: $accent;
  justify-content: center;
  border: 2px solid transparent;
  border-radius: 6px;
  padding: 17px 29px;
  letter-spacing: -0.24px;
  transition: background-color .4s, border .4s, color .4s, transform .6s;

  &:hover {
    background-color: #282836;
    border-color: transparent;
    color: #f2f2f5;
  }

  &:focus {
    background-color: transparent;
    color: $black;
    border-color: $black;

    svg path {
      fill: $black;
    }
  }

  &:active {
    transform: translateY(-3px);
  }
}