.btn {
  font-weight: 700;
  align-items: center;
  display: flex;
  gap: 8px;
  max-width: max-content;
  font-size: 24px;
  font-family: $spaceGrotesk;
  line-height: 1.1;
  background-color: #1E1E1E;
  color: $accent;
  justify-content: center;
  border: 2px solid transparent;
  border-radius: 6px;
  padding: 17px 29px;
  letter-spacing: -0.24px;
  transition: background-color .4s, border .4s, color .4s, transform .6s;
  @media (max-width: 1300px) {
    font-size: 22px;
    svg {
      width: 23px;
      height: auto;
    }
  }
  @include r($desktop) {
    font-size: 20px;
  }
  @include r($tablet) {
    font-size: 18px;
    svg {
      width: 21px;
    }
  }
  @media (max-width: 530px) {
    padding: 16px 24px;
  }
  @include r($phone) {
    font-size: 17px;
  }

  &:hover {
    background-color: rgba(#1E1E1E, .8);
    border-color: transparent;
  }

  &:focus {
    background-color: transparent;
    color: $black;
    border-color: $black;

    svg path {
      fill: $black;
    }
  }

  &:active {
    transform: translateY(-3px);
  }
}