.label {
  display: block;
  margin-bottom: 6px;
  font-size: 17px;
  line-height: 1.3;
  color: #4d4d5a;
  @include r($tablet) {
    font-size: 16px;
  }
}

.input {
  padding: 15px 0 12px;
  border-radius: 0;
  width: 100%;
  color: #2C2C3C;
  line-height: 1.2;
  font-weight: 500;
  letter-spacing: -0.18px;
  background-color: transparent;
  border-bottom: 1px solid rgba(#2C2C3C, .24);
  transition: background-color .4s, color .4s, border .4s;
  @include r($phone) {
    font-size: 17px;
    padding: 13px 0 11px;
  }

  &:hover {
    &::placeholder {
      color: #D02138;
    }
  }

  &:focus {
    border-bottom-color: #D02138;

    &::placeholder {
      color: rgba(#2C2C3C, .7);
    }
  }

  &:-webkit-autofill,
  &:-webkit-autofill:focus {
    -webkit-box-shadow: inset 0 0 0 50px transparent;
    -webkit-text-fill-color: #2C2C3C;
  }

  &:-webkit-autofill:hover {
    -webkit-text-fill-color: #2C2C3C;
  }

  &::placeholder {
    color: rgba(#2C2C3C, .7);
    transition: color .4s;
  }

  &--admin {
    padding: 15px 15px;
    font-size: 17px;
    border-radius: 8px;
    border: 1px solid #2C2C3C;

    &:hover {
      border-color: #D02138;
    }

    &:focus {
      background-color: rgba(#D02138, .05);
      border-color: #D02138;
    }
  }

  &--textarea {
    min-height: 180px;
    max-height: 210px;
    resize: vertical;
  }
}

.error {
  display: none;
  font-size: 16px;
  color: #D02138;

  &__auth {
    margin-top: -10px;
  }

  &.active {
    display: block;
  }
}