.influencer-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #FBFBFB;
  border-radius: 16px;
  padding: 20px;
  box-shadow: 0 2px 2px 0 rgba(196, 196, 206, 0.16);
  @media (max-width: 530px) {
    padding: 20px 15px;
  }

  &__head {
    margin: 0 auto 38px;
    position: relative;
    max-width: max-content;

    &::before {
      @include pseudo;
      width: 107%;
      height: 100%;
      border: 2px solid rgba(#CECED1, .4);
      border-radius: 100%;
      top: -4px;
      left: -4px;
    }

    &.not {
      &::before {
        display: none;
      }
    }
  }

  &__avatar {
    @include objectCoverBg;
    border-radius: 50%;

    @include r($lg) {
      width: 115px;
      height: 115px;
    }
    @include r($tablet) {
      width: 107px;
      height: 107px;
    }
    @include r($sm) {
      width: 98px;
      height: 98px;
    }
    @include r($phone) {
      width: 92px;
      height: 92px;
    }
    @media (max-width: 395px) {
      width: 88px;
      height: 88px;
    }
  }

  &__geo, &__subscribes {
    font-family: $jetBrainsMono;
    font-size: 14px;
    line-height: 1;
    text-transform: uppercase;
  }

  &__geo {
    line-height: 1.3;
  }

  &__subscribes {
    @include flex-align-center(6);
    max-width: max-content;
    padding: 6px 9px 6px 7px;
    background-color: #fff;
    border-radius: 32px;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.05);
    margin: -18px auto 0;
    position: relative;
    z-index: 10;
    @include r($sm) {
      font-size: 12px;
    }
  }

  &__geo {
    @include flex-align-center(8);
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 16px;
    font-size: 13px;
    @include r($sm) {
      margin-bottom: 26px;
    }
  }

  &__info {
    @include flex-column(4);
    align-items: center;
    margin-bottom: 28px;

    @include r($sm) {
      gap: 8px;
    }

    @include r($phone) {
      gap: 10px;
    }
  }

  &__name {
    font-size: 20px;
    line-height: 1;
    letter-spacing: -0.2px;
    font-weight: 400;
    @include r($phone) {
      font-size: 18px;
    }
  }

  &__platform {
    @include flex-align-center(5);
    align-items: flex-end;
    font-size: 20px;
    line-height: 1;
    color: #9D9DAA;
    @include r($lg) {
      font-size: 18px;
    }
    @include r($phone) {
      font-size: 17px;
    }

    img {
      @include objectCoverBg;
      transform: translateY(-2px);
    }
  }

  &__actions {
    @include flex-align-center(8);
    margin: 0 -8px;
    margin-top: auto;
    @include r($tablet) {
      flex-direction: column;
      width: 100%;
    }

    &.admin {
      margin: 20px 0 0;
      flex-wrap: wrap;
      @include r($tablet) {
        flex-direction: row;
        justify-content: center;
      }

      & .btn {
        @include r($sm) {
          font-size: 13px;
        }
      }
    }
  }

  &__btn {
    padding: 11px 14px;
    font-size: 12px;
    @include r($tablet) {
      max-width: 100%;
      width: 100%;
    }
  }
}