.title-section {
  text-align: center;
  font-weight: 700;
  font-family: $spaceGrotesk;
  line-height: 1.15;
  font-size: 44px;
  letter-spacing: -0.44px;

  img {
    @include objectCoverBg;
    display: inline-block;
    vertical-align: middle;
    transform: translateY(-2px);
  }

  span {
    color: $accent;
  }
}