<footer class="footer">
  <div class="container">
    <div class="footer__inner">
      <div class="footer__logo">
        <img src="images/logo-white.svg" width="240" height="48" alt="logo MyBNBSocial">
        <span class="footer__line"></span>
        <a class="home__twitter" href="" target="_blank">
          <svg xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24" fill="none">
            <mask id="mask0_108_31789" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="0" width="25" height="24">
              <path d="M0.827576 0H24.8276V24H0.827576V0Z" fill="white"/>
            </mask>
            <g mask="url(#mask0_108_31789)">
              <path d="M19.7276 1.12451H23.4081L15.3681 10.3371L24.8276 22.8754H17.4219L11.6173 15.2725L4.983 22.8754H1.299L9.89786 13.0182L0.827576 1.12623H8.42186L13.6607 8.07422L19.7276 1.12451ZM18.4333 20.6674H20.4733L7.30758 3.21765H5.12015L18.4333 20.6674Z" fill="#EEEFF2"/>
            </g>
          </svg>
        </a>
      </div>
      <p class="footer__text">
        © 2025 MyBNBSocial. All rights reserved.
      </p>
    </div>
  </div>
</footer>