<div class="modal" id="modal-success">
  <button class="modal__close" type="button">
    <span class="sr-only">Close Modal Windows</span>
    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
      <path
          d="M10.0003 8.70383L14.5374 4.16675L15.8337 5.46305L11.2966 10.0001L15.8337 14.5371L14.5374 15.8334L10.0003 11.2964L5.46329 15.8334L4.16699 14.5371L8.70403 10.0001L4.16699 5.46305L5.46329 4.16675L10.0003 8.70383Z"
          fill="#2C2C3C"/>
    </svg>
  </button>
  <img src="images/icons/check-success.svg" width="56" height="56" alt="check success">
  <h3 class="modal__title">Thank You!</h3>
  <p class="modal__subtext">
    Our manager will contact you within 1 hour via the provided details. If you have any urgent questions,
    feel free to reach out to us at: @YourManagerHandle
  </p>
  <button class="btn" type="button">Go to Home</button>
</div>