<section class="features">
<div class="container">
    <div class="features__top">
      <div class="features__content">
        <h2 class="title-section title-section--small">
          Choosing AsiaCrypto <br> for your project is a decision that can
          <img src="images/icons/title-sput.svg" width="50" height="50" alt="decor icon">
          significantly impact your success. With
          a robust infrastructure, a dedicated team!
        </h2>
        <p class="features__text">
          AsiaCrypto combines regional expertise with a network of top-performing influencers to deliver unbeatable
          results for your crypto project
        </p>
      </div>
    </div>
    <ul class="features__list">
      <li class="features__card">
        <h3 class="features__name">Focus on Asia</h3>
        <img class="features__img" src="images/features/1.svg" width="232" height="232" alt="decor icon">
        <span class="features__number">01.</span>
        <p class="features__description">
          Your gateway to the booming crypto markets Asia
        </p>
      </li>
      <li class="features__card">
        <h3 class="features__name">Verified User</h3>
        <img class="features__img" src="images/features/2.svg" width="232" height="232" alt="decor icon">
        <span class="features__number">02.</span>
        <p class="features__description">
          Work only with influencers who deliver real results
        </p>
      </li>
      <li class="features__card">
        <h3 class="features__name">Performance</h3>
        <img class="features__img" src="images/features/3.svg" width="232" height="232" alt="decor icon">
        <span class="features__number">03.</span>
        <p class="features__description">
          Campaigns designed to maximize ROI and reach
        </p>
      </li>
      <li class="features__card">
        <h3 class="features__name">Experience</h3>
        <img class="features__img" src="images/features/4.svg" width="232" height="232" alt="decor icon">
        <span class="features__number">04.</span>
        <p class="features__description">
          Transparent processes and secure collaboration
        </p>
      </li>
    </ul>
  </div>
</section>