<section class="guarantees indent">
  <div class="container">
    <h2 class="guarantees__title title-section title-section--big">
      Effortless campaigns, guaranteed results.
    </h2>
    <ul class="guarantees__list">
      <li class="guarantees__card">
        <div class="guarantees__head">
          <span class="guarantees__signature">[pic]</span>
          <img src="images/guarantees/1.svg" width="256" height="256" alt="decor icon">
        </div>
        <div class="guarantees__info">
          <span class="guarantees__step">Step 1:</span>
          <p class="guarantees__text">
            Explore and choose influencers who resonate with the specific needs and goals of your project
          </p>
        </div>
      </li>
      <li class="guarantees__card">
        <div class="guarantees__head">
          <span class="guarantees__signature">[pic]</span>
          <img src="images/guarantees/2.svg" width="256" height="256" alt="decor icon">
        </div>
        <div class="guarantees__info">
          <span class="guarantees__step">Step 2:</span>
          <p class="guarantees__text">
            Browse and select influencers that align with your best love project’s needs
          </p>
        </div>
      </li>
      <li class="guarantees__card">
        <div class="guarantees__head">
          <span class="guarantees__signature">[pic]</span>
          <img src="images/guarantees/3.svg" width="256" height="256" alt="decor icon">
        </div>
        <div class="guarantees__info">
          <span class="guarantees__step">Step 3:</span>
          <p class="guarantees__text">
            Keep an eye on your progress and witness your brand flourish exponentially like never before
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>