<section class="tariffs indent">
  <div class="container">
    <div class="tariffs__wrapper">
      <h2 class="tariffs__title title-section">Tailored packages to meet your needs.</h2>
      <p class="tariffs__text">
        No matter your project’s size, we have the perfect plan to help you grow.
        Select from packages designed specifically for YouTube, X, and Telegram to reach your goals
      </p>
      <ul class="tariffs__list">
        <li class="tariff-card tariff-card--premium">
          <p class="tariff-card__popular">
            Most Popular
            <img src="images/icons/divider-line.svg" width="1" height="12" alt="line decor icon">
            1.5M+ Total Reach
          </p>
          <div class="tariff-card__wrapper tariff-card__wrapper--premium">
            <div class="tariff-card__head">
              <img src="images/premium-tariff.svg" width="200" height="200" alt="Lite tariff">
              <div class="tariff-card__info">
                <h3 class="tariff-card__name">Premium</h3>
                <p class="tariff-card__description">
                  To find out the cost, please send a request
                </p>
              </div>
            </div>
            <span class="tariff-card__signature">Features:</span>
            <ul class="tariff-card__list">
              <li class="tariff-card__item">
                <img src="images/icons/check-tariff.svg" width="15" height="14" alt="check icon">
                <p>
                  YouTube Gold <span>(12 channels with 1.5M+ combined)</span>
                </p>
              </li>
              <li class="tariff-card__item">
                <img src="images/icons/check-tariff.svg" width="15" height="14" alt="check icon">
                <p>
                  1 Tweet Post <span>(20K+ audience)</span>
                </p>
              </li>
              <li class="tariff-card__item">
                <img src="images/icons/check-tariff.svg" width="15" height="14" alt="check icon">
                <p>
                  1 Telegram Call <span>(4K+ members)</span>
                </p>
              </li>
              <li class="tariff-card__item">
                <img src="images/icons/check-tariff.svg" width="15" height="14" alt="check icon">
                <p>
                  Private Telegram Group Post
                </p>
              </li>
              <li class="tariff-card__item">
                <img src="images/icons/check-tariff.svg" width="15" height="14" alt="check icon">
                <p>
                  Update Post + Full Launch Support
                </p>
              </li>
              <li class="tariff-card__item">
                <img src="images/icons/check-tariff.svg" width="15" height="14" alt="check icon">
                <p>
                  Exclusive Discounts Available
                </p>
              </li>
            </ul>
            <button class="btn" type="button">Request a Custom Quote</button>
          </div>
        </li>
        <li class="tariff-card">
          <div class="tariff-card__wrapper">
            <div class="tariff-card__head">
              <img src="images/lite-tariff.svg" width="200" height="200" alt="Lite tariff">
              <div class="tariff-card__info">
                <h3 class="tariff-card__name">Lite</h3>
                <p class="tariff-card__description">
                  To find out the cost, please send a request
                </p>
              </div>
            </div>
            <span class="tariff-card__signature">Features:</span>
            <ul class="tariff-card__list">
              <li class="tariff-card__item">
                <img src="images/icons/check-tariff.svg" width="15" height="14" alt="check icon">
                <p>
                  YouTube Gold <span>(12 channels with 1.5M+ combined)</span>
                </p>
              </li>
              <li class="tariff-card__item">
                <img src="images/icons/check-tariff.svg" width="15" height="14" alt="check icon">
                <p>
                  1 Tweet Post <span>(20K+ audience)</span>
                </p>
              </li>
              <li class="tariff-card__item">
                <img src="images/icons/check-tariff.svg" width="15" height="14" alt="check icon">
                <p>
                  1 Telegram Call <span>(4K+ members)</span>
                </p>
              </li>
              <li class="tariff-card__item">
                <img src="images/icons/check-tariff.svg" width="15" height="14" alt="check icon">
                <p>
                  Private Telegram Group Post
                </p>
              </li>
              <li class="tariff-card__item">
                <img src="images/icons/check-tariff.svg" width="15" height="14" alt="check icon">
                <p>
                  Update Post + Full Launch Support
                </p>
              </li>
            </ul>
            <button class="btn" type="button">Request a Custom Quote</button>
          </div>
        </li>
        <li class="tariff-card">
          <div class="tariff-card__wrapper">
            <div class="tariff-card__head tariff-card__head--non-bottom">
              <img src="images/all-tariffs.svg" width="200" height="200" alt="All Tariffs">
              <div class="tariff-card__info tariff-card__info--height-100">
                <h3 class="tariff-card__name">See All</h3>
                <p class="tariff-card__description">
                  You can check all the rates by pressing
                </p>
                <button class="btn btn--gray">see all</button>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>